@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto', sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rhap_progress-container{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0px;
    display: block !important;
    margin: 0 !important;
}

.rhap_progress-indicator {
  background: #FDB927 !important;
}

.PhoneInputInput:focus {
  border: none !important;
  outline: none;
}

.otpContainer {
  margin: 5% auto;
}

.otpInput {
  width: 3rem !important;
  height: 3rem;
  margin: 0 1rem;
  font-size: 2rem;
  text-align: center;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}